.header{
    padding-right:10px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.18);
    text-align: right;
}
.header__button{


    margin-top: 10px;
    height: 40px;
}
.footer__button{


    margin-top: 10px;
    height: 40px;
}
.main{
    padding: 15px;
    margin-top: 15px;
    border: 1px solid blue;
}
.mein__button{
    background-color: red;
}
.mainD__button{
    background-color: white;
 color: blue;
}
.footer{
    padding-left: 10px;
    height: 60px;
    background-color:  rgba(0, 0, 255, 0.18);
    margin-top: 15px;

}
