body{
    margin: 0;
}

header{

    background: #f7f7f7;
    width: 100%;
}
img{
    height: 220px;
}
.right{
    height: 100%;
    float: right;
}
button{
    width: 100px;
    height: 100%;
    border: 0;
}
.top{
    border-bottom: 1px solid black;
}
.size{
    padding: 20px;
    height: 70px;
}