table{
    width: 100%;
}
td{
    padding: 10px;
    text-align: center;
}
thead{
    background-color: #00ff90;
    color: white;
}
tbody{
    background-color: plum;
}
tfoot{
    background-color: #5ec0b6;
}
img{
    width: 250px;
}
iframe{
    width: 600px;
}