body{
    margin: 0;
}

header{
    text-align: center;
    border-bottom: 1px solid black;
    background: #f7f7f7;
    width: 100%;
    height: 70px;
}

.imgHeader{
    text-align: center;
    height: 80px;
}
.maiCont{

    margin-top: 25px;
    text-align: center;
    width: 100%;
}
.buttonSize{
    color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
}

.button{

    border: 0;
    background: #e91c21;
}

.buttonRight{
    border: 0;
    background: #f7d13f;
}

.mainLeft{
    margin: 25px;
    display: inline-block;
}
.header__button{

    margin: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}